html {
    overflow-x: hidden;
}

.navbar-brand a img {
    width: 250px;
    height: auto;
}

body {
    background: #10101a;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

img {
    max-width: 100%;
}

* {
    outline: none !important;
}

a {
    color: #792f3a;
}

a:hover {
    color: #792f3a;
    text-decoration: none;
}


/* ajout par rapport a la nav de bootsrap */

.nav {
    flex-direction: row;
    text-align: center;
}


/* ///////////////////////////////////// */

.header-left {
    width: 80px;
    position: fixed;
    bottom: 0;
    top: 0;
    background: #0c0c14;
    border-right: 1px solid rgba(11, 11, 19, 0.1);
    z-index: 99999;
}

.header-left .top a {
    background: #792f3a;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
}

.header-left .nav-menu {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav-menu li {
    width: 100%;
}

.nav-menu li+li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
    margin: 0;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    transition: ease all 0.35s;
}

.nav-link i {
    font-size: 37px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

button.toggler-menu {
    background: none;
    border: none;
}

.mob-header {
    padding: 15px;
    display: none;
    top: 0;
    width: 100%;
    z-index: 1100000000;
}

.toggler-menu {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
    background: #792f3a;
    border: none;
    margin-left: auto;
}

.toggler-menu span {
    position: fixed;
    top: 0;
    left: 77%;
    top: 5%;
    right: 0;
    z-index: 99999999;
    width: 25px;
    height: 2px;
    margin: auto;
    background: #fff !important;
    color: white;
    box-shadow: 0px -8px 0 0 currentColor, 0px 8px 0 0 currentColor;
}

@media (max-width: 900px) {
    .mob-header {
        display: block;
    }
    .header-left {
        transition: ease all 0.35s;
        left: -200px;
        z-index: 222;
    }
    .header-left.menu-open {
        left: 0;
    }
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner:after {
    content: "";
    position: absolute;
    right: -20vh;
    bottom: -20vh;
    width: 120vh;
    height: 120vh;
    border-radius: 50%;
    border-radius: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.top-fixed {
    position: absolute;
    padding: 30px 50px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.info {
    margin-left: 195px;
}

.info label {
    margin: 0;
    color: aliceblue;
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.info label+label {
    margin-left: 40px;
}

.social {
    margin-left: auto;
}

.social a i {
    margin-right: 10px;
    color: aliceblue;
    width: 43px;
    height: 43px;
    border-radius: 50px;
    border: 2px solid aliceblue;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}

.social a i:hover {
    background: #792f3a;
}

.banner .full-screen {
    min-height: 100vh;
}

.banner .me {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100%;
    background-size: cover;
    top: 0;
    background-repeat: no-repeat;
    background-position: top left;
}

.box {
    padding-top: 90px;
    padding-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

.box h6 {
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
}

.box h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}

.box .lead {
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
}

.box .desc {
    max-width: 450px;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}

.btn-bar {
    padding-top: 10px;
}

.btn-bar a {
    color: aliceblue;
    font-size: 25px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    padding-left: 0;
    transition: ease all 0.35s;
}

.btn-bar a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    widows: 0;
    height: 2px;
    background: currentColor;
    transition: ease all 0.35s;
}

.btn-bar a:hover {
    padding-left: 45px;
}

.btn-bar a:hover:after {
    width: 40px;
}

@media (max-width: 767px) {
    .banner .top-fixed {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .banner .box h6 {
        font-size: 18px;
        margin: 0 0 10px;
    }
}

@media (max-width: 767px) {
    .banner .box h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .banner .box .lead {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .banner .me {
        opacity: 0.4;
        width: 80vw;
    }
}

hr {
    border: none;
    border-top: 1px solid #838282;
    margin-left: 100px;
    overflow: visible;
    text-align: center;
    height: 0px;
    margin: 0;
    box-shadow: 0px -4px 10px 5px #792f3a8c;
    width: 95%;
    margin: 0 0 0 6%;
}

hr:after {
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#about {
    font-family: "Poppins", sans-serif;
}

.about-me img {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid aliceblue;
    position: relative;
}

.about-me .social-icons {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
}

.about-me .social-icons a {
    width: 45px;
    height: 45px;
    line-height: 41px;
    background: aliceblue;
    border: 2px solid aliceblue;
    color: #0b0b13;
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin: 0 5px;
    transition: ease all 0.35s;
    transform: scale(1);
    margin-top: -176px;
}

.social-icons a i {
    line-height: inherit;
}

.social-icons a:nth-child(1) {
    top: -25px;
}

.social-icons a:nth-child(2) {
    top: -8px;
}

.social-icons a:nth-child(3) {
    top: -8px;
}

.social-icons a:nth-child(4) {
    top: -25px;
}

.social-icons a:hover {
    transform: scale(1.1);
    background: #792f3a;
    color: aliceblue;
}

.info {
    text-align: center;
    padding-top: 40px;
    color: aliceblue;
    width: 200px;
    margin: auto;
}

.info h3 {
    font-weight: 400;
    font-size: 30px;
}

.info p {
    margin: 0;
    font-size: 16px;
}

.info-list {
    padding-top: 15px;
    color: white;
}

.info-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-list li {
    padding: 4px 0;
}

.info-list label {
    color: aliceblue;
    margin: 0;
    font-weight: 400;
    padding-right: 10px;
}

.box1 {
    background: #0b0b13;
    padding: 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.box1:before {
    content: "";
    position: absolute;
    top: -220px;
    left: -220px;
    width: 200px;
    height: 200px;
    border-radius: 0;
    z-index: -1;
    background: #0b0b13;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
}

.box1:after {
    content: "";
    position: absolute;
    top: -72px;
    left: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -2;
    background: #fd6c82;
    background-image: linear-gradient(315deg, #fd6c82 0%, #792f3a 74%);
    transition: cubic-bezier(0.32, 0.58, 0.57, 1) all 0.15s;
}

.box1 .icon {
    line-height: 60px;
    font-size: 40px;
    width: 67px;
}

.box1 .content {
    padding-top: 25px;
}

.box1 h5 {
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 25px;
}

.box1:hover:before {
    top: -72px;
    left: -40px;
    border-radius: 50%;
}

.box1:hover:after {
    content: "";
    width: 120%;
    left: -10%;
    top: -10%;
    height: 120%;
    border-radius: 0;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-lg-4 {
    max-width: 75%;
    margin-bottom: 15px;
}

.separated {
    margin-left: 13%;
}

.resume-box {
    font-family: 'Poppins', sans-serif;
}

.education-box {
    margin: 0;
    padding: 35px;
    border-radius: 10px;
    background: #13131e;
    list-style: none;
    color: aliceblue;
    margin-top: 50px;
    margin-left: -20px;
}

.education-box h6 {
    color: aliceblue;
    margin: 5px 0;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
}

.education-box li+li {
    margin-top: 25px;
}

.mh-professional-skills {
    color: aliceblue;
    font-family: 'poppins', sans-serif;
}

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 400;
    margin-bottom: 60px;
    font-family: 'poppins', sans-serif;
    color: aliceblue;
    padding: 0 4em 0 4em;
}

.mh-professional-progress {
    width: 34em;
}

.mh-professional-progress li {
    display: inline-block;
    margin: 4px;
    float: none;
    padding: 2px;
    /* width: 48%; */
    margin-bottom: 30px;
    text-align: center;
    margin-top: 5em;
}

.progress {
    margin: 10px;
}

.mh-progress {
    font-family: 'poppins', sans-serif;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: -30px;
    color: aliceblue;
}

.circle_percent {
    font-size: 200px;
    width: .7em;
    height: .7em;
    position: relative;
    background: #eee;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
}

.circle_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    clip: rect(0 1em 1em .5em);
}

.round_per {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    background: #792f3a;
    clip: rect(0 1em 1em .5em);
    transform: rotate(180deg);
    transition: 1.05s;
}

.percent_more .circle_inner {
    clip: rect(0 .5em 1em 0em);
}

.percent_more:after {
    position: absolute;
    left: .5em;
    top: 0em;
    right: 0;
    bottom: 0;
    background: #792f3a;
    content: '';
}

.circle_inbox {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgb(0, 0, 0);
    z-index: 3;
    border-radius: 50%;
}

.percent_text {
    position: absolute;
    font-size: 36px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.conainer {
    width: 600px;
    margin: 100px auto;
    font-family: 'Arial'
}


/*essai bostrap circle progress*/

.circle {
    width: 200px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
    width: 200px !important;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: aliceblue;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}


/*////////////////////// project /////////////////////*/

.row2 {
    justify-content: center;
}

.plus {
    margin-bottom: 79px;
    text-align: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.js {
    color: #f1e05a;
    background-color: #ffc107;
}

.html {
    background-color: #dc3545;
}

.css {
    background-color: #17a2b8;
}

.scss {
    background-color: #28a745;
}

.imgtab {}

.box2 {
    background: #0b0b13;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.box2:before {
    content: "";
    position: absolute;
    top: -220px;
    left: -220px;
    width: 200px;
    height: 200px;
    border-radius: 0;
    z-index: -1;
    background: #0b0b13;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
}

.box2:after {
    content: "";
    position: absolute;
    top: 300px;
    left: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -2;
    background: #fd6c82;
    background-image: linear-gradient(315deg, #65A3C5 0%, #104666 74%);
    transition: cubic-bezier(0.32, 0.58, 0.57, 1) all 0.15s;
}

.box4:after {
    content: "";
    position: absolute;
    top: 300px;
    left: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -2;
    background: #fd6c82;
    background-image: linear-gradient(315deg, #12134d 0%, #52C3FB 74%);
    transition: cubic-bezier(0.32, 0.58, 0.57, 1) all 0.15s;
}

.box3:after {
    content: "";
    position: absolute;
    top: 300px;
    left: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -2;
    background: #fd6c82;
    background-image: linear-gradient(315deg, #124d2d 0%, #25af5e 74%);
    transition: cubic-bezier(0.32, 0.58, 0.57, 1) all 0.15s;
}

.box5:after {
    content: "";
    position: absolute;
    top: 300px;
    left: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -2;
    background: #fd6c82;
    background-image: linear-gradient(315deg, #fd6c82 0%, #792f3a 74%);
    transition: cubic-bezier(0.32, 0.58, 0.57, 1) all 0.15s;
}

.box2 .icon {
    line-height: 60px;
    font-size: 40px;
    width: 67px;
}

.box2 .content {
    padding-top: 25px;
}

.box2 h5 {
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 25px;
}

.box2:hover:before {
    top: -72px;
    left: -40px;
    border-radius: 50%;
}

.box2:hover:after {
    content: "";
    width: 120%;
    left: -10%;
    top: -10%;
    height: 120%;
    border-radius: 0;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
}

.project {
    margin: 3em;
}

#blog {
    font-family: "poppins", sans-serif;
}

.subtitle {
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 65px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border: 3px solid white;
    border-radius: 50px;
    font-family: "poppins", sans-serif;
}

.folio {
    position: relative;
    text-align: center;
}

.port {
    width: 200px;
    text-align: center;
    overflow: hidden;
    transform: rotate(45deg);
    height: 200px;
    position: relative;
    display: inline-block;
}

.port>img {
    width: 180px;
    height: 180px;
    transform: rotate( -45deg);
    width: 280px;
    height: 280px;
    margin: -21px 3px -40px 16px;
    filter: blur(0);
    padding-bottom: 75px;
    padding-top: 26px;
}

.mh-skills {
    margin-left: 20%;
}

.education {
    display: flex;
}

@media (max-width: 900px) {
    .port {
        width: 95px;
        text-align: center;
        overflow: hidden;
        transform: rotate( 45deg);
        height: 97px;
        position: relative;
        display: inline-block;
    }
    .port>img {
        width: 180px;
        height: 180px;
        transform: rotate( -45deg);
        width: 148px;
        height: 189px;
        margin: -26px 7px -32px 21px;
        filter: blur(0);
        padding-bottom: 76px;
        padding-top: 22px;
    }
    .Hover:hover {
        opacity: 0;
        visibility: hidden;
    }
    .mh-professional-progress {
        width: 100%;
    }
    .mh-professional-skills h3 {
        font-size: 21px;
        line-height: 40px;
        text-align: center;
        font-size: 400;
        margin-bottom: 60px;
        font-family: 'poppins', sans-serif;
        color: aliceblue;
        padding: 0 4em 0 4em;
    }
    .h4,
    h4 {
        font-size: 0.5rem;
    }
    .box1 h5 {
        margin-bottom: 30px;
        color: aliceblue;
        font-size: 12px;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: smaller;
    }
    .mh-professional-skills {
        display: none;
    }
    .education-box {
        margin: 0;
        border-radius: 10px;
        background: #13131e;
        list-style: none;
        color: aliceblue;
        width: 143%;
    }
    .hide {
        display: none;
    }
    .mh-skills {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.imgEducation {
    width: 80px;
}

.spanEducation {
    padding-left: 65px;
}

.port .Hover {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 880px) {
    .Hover {
        right: 50px;
        width: 202px;
        height: 180px;
        position: absolute;
        top: -22px;
        text-align: center;
        background-color: rgba(64, 64, 64, 0.8);
        transform: rotate(-45);
        transition: all 400ms ease;
        line-height: 21px;
        left: -18px;
        margin: 34px 13px -37px 16px;
    }
    .Hover a.details {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 20px;
        color: #404040;
        background: aliceblue;
        position: absolute;
        left: 0;
        top: 0;
        right: -50px;
        bottom: 0;
        margin: auto;
    }
    .Hover a.details {
        color: #de3c2f;
    }
}

.Hover a.prePhoto {
    background: #de3c2f none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    color: white;
    font-size: 20px;
    height: 40px;
    left: -50px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.Hover a.prePhoto:hover {
    color: white;
}

.Hover a i {
    position: relative;
    top: 10px;
}

.port .Hover {
    opacity: 0;
    visibility: hidden;
}

.port:hover .Hover {
    opacity: 1;
    visibility: visible;
    transform: rotate(135deg) scale(-1);
    filter: blur(0);
}

.contact-info {
    font-family: 'poppins', sans-serif;
}

.contact-info h4 {
    font-size: 34px;
    color: aliceblue;
    font-weight: 400;
}

.contact-info p {
    font-size: 16px;
}

.contact-info ul {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
}

.contact-info li {
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    line-height: 1.3;
    position: relative;
}

.contact-info li i {
    text-align: center;
    color: #792f3a;
    font-size: 22px;
}

.contact-info li span {
    padding-left: 10px;
}

.contact-info li+li {
    padding-top: 20px;
}

.contact-form {
    font-family: 'poppins', sans-serif;
}

.contact-form h4 {
    font-weight: 400;
    color: aliceblue;
    font-size: 22px;
    margin-bottom: 20px;
}

.contact-form .form-control {
    color: aliceblue;
    border: 1px solid #792f3a;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: calc(2em + 0.75rem + 2px);
    background-color: rgb(10, 8, 8);
}

.contact-form textarea.form-control {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    border: 2px solid aliceblue;
    background: transparent;
    color: aliceblue;
    padding: 15px 35px;
}

.google-map {
    margin-top: 50px;
}

.google-map .embed {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.google-map .embed {
    padding: 30%;
}

.footer {
    padding: 12px 0;
    background: #0b0b13;
    font-family: 'poppins', sans-serif;
}

.footer .nav a {
    color: aliceblue;
    font-size: 14px;
    margin: 17px;
}

.footer .nav a:hover {
    color: #792f3a;
}

.footer p {
    color: aliceblue;
    font-stretch: 14px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.sendmessage {
    margin: auto;
}